.recommend {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.grid {
  display: flex;
  gap: 20px;
  flex-warp:wrap;
  max-width:100%
}

.card {
  cursor: pointer;
}

.cover {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.name {
  margin-top: 10px;
  text-align: center;
}
