.track-list {
  width: 1000px;
  margin:top;
  left-padding : 20px;
}

.track-item {
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  algin-items : center;
  cursor: pointer;
  border-radius: 5px;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tracklist .track-item:nth-child(odd) {
  background-color: rgba(169, 169, 169, 1);
}

.tracklist .track-item:nth-child(even) {
  background-color: transparent;
}